<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home &#183; Snippetbox</title>
	</head>

	<body>
		<header>
			<h1><a href="/">Snippetbox</a></h1>
		</header>

		<main>
			<h2>Latest snippets</h2>
			<p>There's nothing to see here yet!</p>
		</main>

		<footer>
			Powered by <a href="https://go.dev" target="_blank">Go</a>
		</footer>
	</body>
</html>
