{{define "title"}}Home{{end}}

{{define "main"}}
	<h2>Latest snippets</h2>

	{{if .}}
		<table>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Created</th>
			</tr>

			{{range .}}
				<tr>
					<td>{{.ID}}</td>

					<td>
						<a href="/snippet/view?id={{.ID}}">{{.Title}}</a>
					</td>

					<td>{{.Created | humanDate}}</td>
				</tr>
			{{end}}
		</table>
	{{else}}
		<p>There's nothing to see here yet!</p>
	{{end}}
{{end}}
